{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    {% component alert with { type: 'error', class: 'mt-2'} %}
        {% block default %}{{ parent() }} message!{% endblock %}
    {% endcomponent %}

    {% component dialog %}{% endcomponent %}
</div>
{% endblock %}
