{% extends 'base.html.twig' %}

{% block title %}Live Testing!{% endblock %}

{% block body %}
    {# This outer element would normally be rendered automatically #}
    <div
        data-controller="live"
        data-live-component-value="{{ componentName }}"
        data-live-state-value="{{ initialData|serialize('json') }}"
    >
        {{ componentObject(component) }}
    </div>
{% endblock %}
