<div{{ attributes() }}>
    <h1>{% block header %}Default Header{% endblock %}</h1>
    <div>
        {% block body %}Default Body{% endblock %}
    </div>
    {% if block('footer') is defined %}
        <div>
            {{ block('footer')}}
        </div>
    {% endif %}
</div>
