<div
    data-controller="live"
    data-live-component-value="{{ name }}"
    data-live-data-value="{{ data is empty ? '{}' : data|json_encode }}"
    data-live-props-value="{{ props is empty ? '{}' : props|json_encode }}"
>
    {{ rendered|raw }}
</div>
